<%= render "carousel" %>

<div class="col-xs-12">
		<ul class="list-unstyled list-inline">
			<li><%= link_to "New Product", new_product_path %></li>
			<li><%= link_to "Home", root_path %></li>
		</ul>
</div>
