// Hero Section on the homepage

#hero-home {

}



.hero {
  background: $dark;
  min-height: 25rem;
  height: 55rem;
  background-image: url('hero-bg.jpg');
  background-position: 50%;
  background-size: 80%;
  background-repeat:no-repeat;
}
.hero-products {
  min-height: 18rem;
  background: $dark;
  background: linear-gradient(to right, rgba(111,16,79,1) 0%,rgba(38,66,97,1) 100%);
}
.hero-pages {

}
.hero-title-bg {
  margin-top: 10rem;
  background: $darkColor;
  padding: $mediumSpacing;
  border-radius: $borderRadius;
}
.hero-title {
  text-transform: uppercase;
  font-weight: 800;
  color: white;
  text-align: center;
  padding: 0 0 1.5rem 0;
  margin: 0;
  font-size: 2.5em;
}
.hero-button {
  margin-top: 5rem;
  text-align: center;
}
.btn-start-browsing {
  background: $accentColor2;
  border: 1px solid #a5076b;
  width: 20rem;
  display: inline-block;
  padding: 1.5rem 0;
  span {
    transition: $quickTransition;
    padding-left: 0.5rem;
  }
  &:hover {
    background: lighten($accentColor2, 10%);
    border-color: lighten(#a5076b, 20%);
    span {
      padding-left: 2rem;
    }
  }
}

.search-box {
  text-align: center;
  padding: 3rem 0;
  position: relative;
}
.search-input {
  display: inline-block;
  width: 26rem;
  height: 4rem;
  border-radius: $borderRadius;
  border: 1px solid transparent;
  background: rgba(120,100,100,0.2);
  box-shadow: none;
  &:focus {
    color: white;
  }
}
.search-button {
  position: absolute;
  margin-left: -4rem;
  height: 4rem;
  width: 4rem;
  background: none;
  border: none;
  color: $ligthGray;
  transition: $quickTransition;
  &:hover {
    color: white;
  }
}


.filter-section {
  padding: 0;
  background: $darkColor;
}

.filters-headline {
  height: 7rem;
  border-bottom: 1px solid rgb(70,70,70);
}
.filters-headline h3 {
  font-size: 1.4em;
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  line-height: 7rem;
  text-transform: uppercase;
}

.hero-categories {
  color: rgba(255,255,255,0.4);
  a {
    color: rgba(255,255,255,0.4);
  }
}
