
// Color variables
$dark: #121b1a;
$light: white;
$ligthGray: rgb(220,220,220);
// $darkGray: ;

$textColor: #333333;
$starColor: #FF9912;
$borderColor: rgb(220,220,220);

$darkColor: #27242A;
$bodyColor: white;
$accentColor: #5D4287;
$accentColor2: #dd088f;

$linkOnDark: #7f8181;
$linkOndarkBorder: #5a6160;
$linkOnDarkBg: #121b1a;
$linkAccentOnDark: #c1a5db;
$linkAccentBorder: #8b40a8;
$linkAccentOnDarkBg: #48305e;

$textGray: rgb(100,100,100);


// Colors for the filters
$blue: #06b0da;
$yellow: #e9a63a;
$green: #00A140;
$white: white;
$black: black;
$gray: #808080;
$red: #ee3c3c;

$fieldOnDark: #302A36;

// Transitions
$quickTransition: all 0.2s ease;


// Border radius
$borderRadius: 3px;


// Spacing variables
$smallSpacing: 1rem;
$mediumSpacing: 2.5rem;
$largeSpacing: 5rem;
$bigSpacing: 10rem;

// Mixin variables


//
