// Basic styles for buttons, lists, body...


html, body {
  height: 100%;
}

body {
  background: $bodyColor;
}

// Page wrap for Footer
.page-wrap {
  min-height: 100%;
  margin-bottom: -5rem;
}

.page-wrap:after {
  content: "";
  display: block;
}


// Buttons

.button {
  font-size: 0.95em;
  border-radius: 3px;
  background: $ligthGray;
  padding: $smallSpacing $mediumSpacing;
  text-decoration: none;
  transition: $quickTransition;
  border: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: white;
  }
}

.btn {
  color: white;
}

.btn-login {
  background: $linkOnDarkBg;
  color: $linkOnDark;
  border: 1px solid $linkOndarkBorder;
  &:visited {
    color: $linkOnDark;
  }
  &:hover {
    background: ligthen($linkOnDarkBg, 10%)!important;
  }
}

.btn-sign-up {
  background: $linkAccentOnDarkBg;
  color: $linkAccentOnDark;
  border: 1px solid $linkAccentBorder;
  &:visited {
    color: $linkAccentOnDark;
  }
}



// Typography

.font-bold {
  font-weight: 800;
}
