
// Color variables
$dark: #121b1a;
$light: white;
$ligthGray: rgb(220,220,220);
// $darkGray: ;

$darkColor: #27242A;
$bodyColor: white;
$accentColor: #5D4287;
$accentColor2: #dd088f;

$linkOnDark: #7f8181;
$linkOndarkBorder: #5a6160;
$linkOnDarkBg: #121b1a;
$linkAccentOnDark: #c1a5db;
$linkAccentBorder: #8b40a8;
$linkAccentOnDarkBg: #48305e;

$textGray: rgb(100,100,100);


// Colors for the filters
$blue: #009FC9;
$yellow: yellow;
$green: green;
$white: white;
$black: black;



// Transitions
$quickTransition: all 0.2s ease;


// Border radius
$borderRadius: 3px;


// Spacing variables
$smallSpacing: 1rem;
$mediumSpacing: 2.5rem;
$largeSpacing: 5rem;
$bigSpacing: 10rem;

// Mixin variables


//
