<li class="filter-box">
  <span class="filter-name">Pick Style</span>
  <form class="filter-style">
  	<select class="filter-select">
      <option>All</option>
  		<option>Awesome</option>
  		<option>Boring</option>
  		<option>Funny</option>
      <option>Blank</option>
  	</select>
  </form>
</li>

<li class="filter-box pull-right">
  <ul class="filter-color filter-list list-group">
    <li class="color-item color-blue"><span>Blue</span></li>
    <li class="color-item color-yellow"><span>Yellow</span></li>
    <li class="color-item color-green"><span>Green</span></li>
    <li class="color-item color-white"><span>White</span></li>
    <li class="color-item color-black"><span>Black</span></li>
  </ul>
</li>

<li class="filter-box pull-right">
  <ul class="filter-size filter-list list-group">
    <li class="size-item">XL</li>
    <li class="size-item">L</li>
    <li class="size-item">M</li>
    <li class="size-item">S</li>
    <li class="size-item">XS</li>
  </ul>
</li>
