<p id="notice"><%= notice %></p>
<!-- <div class="product-top">
  <h3 class="col-xs-12 col-sm-6">Your Products</h3>
  <%= link_to 'New Product', new_product_path, class: "btn btn-default pull-right" %>
</div> -->

<div class="container product-list">
  <div class="row">
    <div class="col-sm-12">
      <ul class="product-grid col-sm-12">
        <%= render @products %>
      </ul>
    </div>
  </div><!-- End of row -->
</div><!-- End of fluid container -->
