<p id="notice"><%= notice %></p>
<div class="product-top">
  <h3 class="col-xs-12 col-sm-6">Your Products</h3>
  <%= link_to 'New Product', new_product_path, class: "btn btn-default pull-right" %>
</div>

<div class="container-fluid product-list">
  <div class="row">
    <%= render @products %>
  </div><!-- End of row -->
</div><!-- End of fluid container -->
