<div class="container">
  <p id="notice"><%= notice %></p>

  <!-- <div class="show-top-buttons">
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default pull-right" %>
  </div> -->

  <div class="row margin-bottom">
    <%= render "product_detail" %>
  </div>

  <div class="row">
    <%= render "reviews" %>
  </div>

</div>
